COMPOSE_PROJECT_NAME=airflow-setup

AIRFLOW_HOME=/usr/local/airflow
EXECUTOR=Celery


RABBIT_USER=rabbit2345
RABBIT_PASS=jr92wcUASID
AIRFLOW__CELERY__BROKER_URL=amqp://rabbit2345:jr92wcUASID@rabbit:5672/

FLOWER_USER=doc1234
FLOWER_PASS=daskjd93rdASID

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=airflow
POSTGRES_EXTRAS=""

