COMPOSE_PROJECT_NAME=airflow-template

AIRFLOW_HOME=/usr/local/airflow
EXECUTOR=Celery

RABBIT_USER=rabbit
RABBIT_PASS=rabbit
AIRFLOW__CELERY__BROKER_URL=pyamqp://rabbit:rabbit@rabbit:5672/

# needs to be added to config/airflow/airflow.cfg as well 
FLOWER_USER=flower
FLOWER_PASS=flower

DB_CONNECTION=postgresql+psycopg2://username:password@dbhost.example.com:5432/airflow

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=dbhost.example.com
POSTGRES_PORT=5432
POSTGRES_DB=airflow

